.inputt {
    text-align: center; 
}
input {
    text-align: center;
    font-family: 
    Arial, Helvetica, sans-serif
}
p {
    text-align: center; font-family: 'Courier New', Courier, monospace; color: blanchedalmond;text-shadow: 5px 5px 6px #CE7A0F
}
body {
    background-color: black;
}
button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.button {
    text-align: center;
}
h1 {
    text-shadow: 5px 5px 6px #43caf3;color: whitesmoke; text-align: center; font-family: fantasy;
}
p5 {
    color: aliceblue; font-size: xx-small;
}
h3 {
    color: aliceblue;
}